<h5>Detalhes da Meta</h5>
<div *ngIf="meta">
    
  <p><b>Id:</b> {{ meta.id }}</p>
  <p><b>Nome:</b> {{ meta.nome }}</p>
  <p><b>Descrição:</b> {{ meta.descricao }}</p>

  <a class="waves-effect waves-light btn" (click)="editarMeta()">Editar</a>
  <!-- <a
    class="waves-effect waves-light btn red"
    [style.margin-left.px]="10"
    (click)="deletarObjetivo(objetivo.id)"
    >Deletar</a
  >
  <a
    class="waves-effect waves-light btn blue"
    [style.margin-left.px]="10"
    (click)="carregarMetas()"
    >Metas</a
  > -->
</div>
