<div class="row">
  <div class="col s6">
    <h5>Lista de Objetivos</h5>

    <div class="collection" *ngIf="objetivos$ | async as objetivos">
      <a
        *ngFor="let objetivo of objetivos; let i = index"
        class="collection-item"
        [class.active]="i == currentIndex"
        (click)="setActiveObjetivo(objetivo, i)"
      >
        {{ objetivo.nome }}
      </a>
    </div>
    <a class="waves-effect waves-light btn blue" routerLink="/objetivos/novo"
      >Novo</a
    >
  </div>
  <div class="col s6">
    <app-objetivo-detalhe
      *ngIf="currentObjetivo"
      [objetivo]="currentObjetivo"
      (refresh)="onRefresh($event)"
    ></app-objetivo-detalhe>
    <div *ngIf="!currentObjetivo">
        <br />
        <p>Por favor selecione um objetivo...</p>
      </div>
  </div>
</div>
